* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

aside {
    right: -240px;
    width: 240px;
}

main {
    background-image: url(../images/berries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 4rem;

}

.about {
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    hyphens: auto;
    padding: 1rem 1rem;

}

.about-author {
    margin: 1rem 1.5rem 0 1.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    background: linear-gradient(45deg, rgba(4, 2, 4, 0.8), rgba(35, 35, 50, 0.8));
}

.about-img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: url(../images/zdj_udemy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 0 1rem;
    position: relative;
    border: 2px solid rgb(98, 73, 224);
}


h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background: linear-gradient(45deg, rgba(4, 2, 4, 0.8), rgba(35, 35, 50, 0.8));
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.5px;
}

h1 a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    outline: none;
}

h1:active {
    background: linear-gradient(45deg, rgba(98, 73, 224, 0.9), rgba(234, 66, 211, 0.8));

}

.about-text,
.about-text2 {
    margin: 1rem 1.5rem 0 1.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    margin-bottom: 2rem;
    background: linear-gradient(0deg, rgba(74, 56, 167, 0.9), rgba(140, 38, 126, 0.7));
}

.about i {
    margin-right: 0.5rem;
}

h2 {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

li {
    margin: 0.5rem auto 1rem;
    text-align: justify;
}



@media(min-width:640px) {


    .menu li a {
        padding: 5px 16px;
    }

    .about {
        max-width: 80vw;
        margin: 2rem auto 0;
    }

    h1 {
        max-width: 50vw;
        margin: 1rem auto;
    }

    .about-img {
        height: 8rem;
        width: 8rem;
        border-width: 3px;
        top: -10px;
        left: -10px;
    }

    .about-intro {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    .about h1 a {
        font-size: 2rem;
    }

    .about-text,
    .about-text2 {
        width: 60vw;
        margin: 1rem auto;
        font-size: 1.2rem;
    }



    li {
        margin: 0.5rem auto 0.5rem;
    }

    .more-button {
        margin-top: 1.5rem;
    }
}