@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.baner {
    background-image: url(../images/berries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baner-text {
    background: linear-gradient(45deg, rgba(4, 2, 4, 0.8), rgba(35, 35, 50, 0.8));
    min-height: 70vh;
    width: 100vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
padding:0.5rem 0;
}

.baner-slogan {

    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 8px;
    margin: 0 1rem 0.8rem 0;
    margin: 1.2rem 1.5rem;
    border-radius: 8px;
}

.baner-img {
    height: 7rem;
    width: 12rem;
    background-image: url(../images/kurs_grafika.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 95% center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 1rem auto;
    opacity: 0.9;
}


@media(min-width:640px) {

    .baner-text {

        min-height: 50vh;
        max-width: 80vw;
        margin-top: 5rem;
        padding: 1rem 0;
    }

    h1 {
        max-width: 60vw;
        margin: 1rem auto;
    }

    h1 a {
        font-size: 2rem;
    }

    .baner-img {
        height: 10rem;
        width: 18rem;
    }

    .baner-slogan {
        font-size: 1.5rem;
    }

}